@charset "utf-8";
@font-face {
    font-family: Gadget;
    src: url('Gadget.ttf') format('truetype')
}
/* Citation for Gadget font:
Www.fontpalace.com. (n.d.). Download Gadget Font - Free Font Download. 
Retrieved from https://www.fontpalace.com/font-download/Gadget/ */

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   V1 Assignment
   
   Author: Abigail Zelen
   Date: 5/30/2020
   
   Filename: styles.css
   Purpose of this file:  To change and format my html pages by using css.

*/

/* Structural Styles */



/*
M2LO12 Demonstrate how CSS can change presentation of page elements 
(CSS, these are styles that impact page elements rather than impacting text on the page)
NOTE: THE BACKGROUND ELEMENT IS THE ELEMENT THAT IS BEING IMPACTED.  THE IMPACT IS CHANGING THE BACKGROUND COLOR TO WHITE*/  
html {
    background-color: white;
}

/* M2LO3 Demonstrate style precedence and inheritance in CSS (CSS, this 
item should be specified 2 times, once where precedence is applied and 
once where inheritance is applied; see 2-3d Style Specificity and Precedence, and 2-3e Style Inheritance)
NOTE: THIS SHOWS INHERITANCE BECAUSE ALL OF THE ELEMENTS THAT ARE CHILDREN OF THE ARTICLE
UNLESS SPECIFIED OTHERWISE WILL HAVE
BLACK TEXT, AND THE SAME FONT, ETC... */
/* M2LO14 Demonstrate and explain the use of progressive enhancement in CSS 
(CSS, see 2-6 Employing Progressive Enhancement)
NOTE/EXPLINATION: Since HSL wasn't avalible until CSS3 older browers may not be able to render colors in HSL
but they will be able to render colors in RGB, so you can include both hsl and rgb depending on your audience 
and their browers.
*/
article{
    color: hsl(0, 0%, 0%);
    color: rgb(0, 0, 0);
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: larger;
}

h1 {
    font-family: 'Gadget', cursive, fantasy;
    font-size: 65px;
    letter-spacing: 0.09em;
}

/*
M2LO13 Demonstrate how CSS can change presentation of textual elements 
(CSS, these are styles that impact text that is rendered on the page)
NOTE: LETTER SPACING DEMONSTRATES THIS.
*/
h2 {
    font-family: 'Fantasy', gadget;
    font-size: 45px;
    letter-spacing: 0.09em;
}

/*M2LO3 Demonstrate style precedence and inheritance in CSS 
(CSS, this item should be specified 2 times, once where precedence is applied
 and once where inheritance is applied; see 2-3d Style Specificity and Precedence, 
 and 2-3e Style Inheritance) 
 NOTE: THIS DEMONSTRATES STYLE PRECEDENCE AS THE COLOR FOR EM TAKES PRESEDENCE OVER THE COLOR OF
 THE PARAGRAPHS*/
/* M2LO15 Apply colors using CSS (CSS, see 2-5 Working with Color in CSS) 
Note: THE COLOR OF THE EM IN MY INDEX PAGE IS BLUE ACHIEVING THIS OBJECTIVE*/
p {
    color: black;
}
em{
    color: blue;
    text-indent: 1em;
}
/*
M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times, show one
pseudo-class and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements)
NOTE: THIS IS A PSEUDO-ELEMENT SELECTOR. THIS OBJECTIVE IS ACHIEVED AS THE FIRST LETTER OF EVERY H2 IS SLIGHTLY LARGER.
*/
h2::first-letter{
    font-size: larger;
}
/*
M2LO7 Demonstrate a CSS attribute selector other than class or id (CSS, specify 1 time,
see 2-9b Attribute selectors)
NOTE: THIS ACHIEVES THE LEARNING OBJECTIVE BY USING A CSS ATTRIBUTE SELECTOR OTHER THAN CLASS OR
ID.  ALL HYPER LINKS OR TAGS WITH A[HREF] HAVE A BIGGER FONT, NO TEXT DECORATION AND THE TEXT IS BLACK.
*/
a[href] {
    font-size: 22px;
    text-decoration: none;
    color: black;
}
/* 
M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types of 
contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook)
NOTE, THIS DEMONSTRATES CONTEXTUAL SELECTORS.  IN THIS CASE, THE SELECTORS ARE "STRONG," AND "ADDRESS".
*/
strong, address {
    font-size: 15px;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

/* Navigation Styles */

/*
M2LO5 Demonstrate contextual selectors (CSS, specify 2 times, showing two different types 
of contextual selectors as shown in Figure 2-12, Contextual Selectors, of the textbook)
NOTE, THIS DEMONSTRATES CONTEXTUAL SELECTOR.  IN THIS CASE, THE SELECTOR IS "NAV".*/
nav {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Arial', Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    display: inline;
    margin: 12px;
    padding: 12px;
}

/*
M2LO11 Demonstrate a pseudo-classes and a pseudo-element selector (CSS, specify 2 times, 
show one pseudo-class and one pseudo-element, see 2-18 Using Pseudo-Classes and Pseudo-Elements)
NOTE: THIS OBJECTIVE IS ACHIEVED BY CREATED AN UNDERLINE UNDER THE PAGE LINKS IN THE NAV SECTION.
IF YOUR MOUSE IS OVER ONE OF THE PAGE LINKS, THE LINK SHOWS AN UNDERLINE, SO YOU KNOW WHICH LINK YOU'LL BE GOING TO.
*/
/*
M2LO12 Demonstrate how CSS can change presentation of page elements 
(CSS, these are styles that impact page elements rather than impacting text on the page)
NOTE: THIS DEMONSTRATES HOW CSS CAN CANGE THE PRESENTATION OF PAGE ELEMENTS AS HOVERING OVER AN ELEMENT
CHANGES MAKES AN UNDERLINE APPEAR.
*/  
nav > ul > li > a:hover, nav > ul > li > a:active {
    text-decoration: underline;
}



/* Section Styles */

/*
M2LO12 Demonstrate how CSS can change presentation of page elements 
(CSS, these are styles that impact page elements rather than impacting text on the page)
NOTE: THIS SHOWS HOW CSS CAN CHAGE THE PRESENTATION OF PAGE ELEMENTS AS IT CHANGES THE SIZE OF AN IMAGE.
(I KNOW THAT THIS WASN'T COVERED IN THIS CHAPTER, SO I'VE LISTED M2LO12 TWICE TO MAKE SURE THE OBJECTIVE IS COVERED
IF THIS DOESN'T COUNT SINCE WE HAVEN'T GONE OVER THIS IN THE TEXTBOOK.)
*/  
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*
M2LO6  Demonstrate a CSS id and a CSS class selector
(CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors)
NOTE: THIS DEMONSTRATES A CSS ID WHERE THE ID "BIO" IS EFFECTED AND CHANGED DUE TO CODE
HERE IN THE CSS FILE.
*/
#Bio{
    font-weight: bold;
    font-size: 40px;
}
#Portfolio{
    font-weight: bold;
    font-size: 40px;
}
#Blog{
    font-weight: bold;
    font-size: 40px;
}
/*
M2LO6  Demonstrate a CSS id and a CSS class selector
(CSS, specify 2 times, show a use of id and a use of class, see 2-9b Attribute selectors)
NOTE: THIS DEMONSTRATES A CSS CLSS WHERE THE CLASS "ABOUT" IS EFFECTED AND CHANGED DUE TO CODE
HERE IN THE CSS FILE.
*/
*/
.About{
    font-weight: bold;
    font-size: 40px;
}

  
  
  
  
/* Definition List Styles */
  
