@charset "utf-8";
@font-face {
    font-family: Gadget;
    src: url('Gadget.ttf') format('truetype')
}
/* Citation for Gadget font:
Www.fontpalace.com. (n.d.). Download Gadget Font - Free Font Download. 
Retrieved from https://www.fontpalace.com/font-download/Gadget/ */

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   V1 Assignment
   
   Author: Abigail Zelen
   Date: 5/30/2020
   
   Filename: styles.css
   Purpose of this file:  To change and format my html pages by using css.

*/

/* Structural Styles */


html {
    background-color: white;
}


article{
    color: hsl(0, 0%, 0%);
    color: rgb(0, 0, 0);
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: larger;
}

h1 {
    font-family: 'Gadget', cursive, fantasy;
    font-size: 65px;
    letter-spacing: 0.09em;
}


h2 {
    font-family: 'Fantasy', gadget;
    font-size: 45px;
    letter-spacing: 0.09em;
}

p {
    color: black;
    text-indent: 1em;
}
em{
    color: blue;
    text-indent: 1em;
}

h2::first-letter{
    font-size: larger;
}

a[href] {
    font-size: 22px;
    text-decoration: none;
    color: black;
}

strong, address {
    font-size: 15px;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

/* Navigation Styles */

nav {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Arial', Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
nav ul li{
    display: inline;
    margin: 12px;
    padding: 12px;
}

 
nav > ul > li > a:hover, nav > ul > li > a:active {
    text-decoration: underline;
}



/* Section Styles */

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#Bio{
    font-weight: bold;
    font-size: 40px;
}
#Portfolio{
    font-weight: bold;
    font-size: 40px;
}
#Blog{
    font-weight: bold;
    font-size: 40px;
}

.About{
    font-weight: bold;
    font-size: 40px;
}

  
  
  
  
/* Definition List Styles */
  
