@charset "utf-8";
@font-face {
    font-family: Gadget;
    src: url('Gadget.ttf') format('truetype');
}
@font-face{
    font-family: Alex Brush;
    src: url('AlexBrush-Regular.ttf') format('truetype');
}
@font-face{
    font-family: Euphorigenic;
    src: url('euphorigenic.ttf') format('truetype');
}

/* Citation for Fonts:
Gadget:
Www.fontpalace.com. (n.d.). Download Gadget Font - Free Font Download. 
Retrieved from https://www.fontpalace.com/font-download/Gadget/ 
OTHER FONTS:
Google Web Fonts. (n.d.). Retrieved from https://www.1001fonts.com/google-web-fonts.html?page=6&items=10
*/

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   V1 Assignment
   
   Author: Abigail Zelen
   Date: 5/13/2020
   
   Filename: styles.css
   Purpose of this file:  To change and format my html pages by using css.

*/

/* Typographic Styles */

body, article, header, html, p, li, ol, ul, em,
footer, address{
/* M3LO1 Demonstrate the use of a CSS reset style sheet (CSS, note where you have CSS reset rules)
Demonstrated by: Here I've created a starting point for all my html files that will override Browswer defaults.
I've done this by setting the display to a block (which isn't a default), the background to white, font size, and
I've overided the browser default margins and paddings. */
    display: block;
    background-color: white;
    font-size: 100%;
    margin: 8px;
    padding: 2px;
}
/* Grid Styles */

div.row{
    clear: both;
    border-style: solid;
/*M4LO3 Demonstrate the use of rounded corners for borders (CSS)
Domatrated by: creating a radious around the border of my CSS grid on my About/contact page.*/
    border-radius: 15px;
    margin: 10px;
}

div.row::after{
    clear: both;
    content: "";
    display: table;
}

div[class^="col-"]{
    float: left;
}

div.row {width: 100%}
div.col-1-2{width: 50%}


/* Structural Styles */

html{
    height: auto;
    min-height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255) 25%, rgba(245, 245, 245));
    -webkit-background: linear-gradient(180deg, rgba(255, 255, 255) 25%, rgba(245, 245, 245));;
    -moz-background: linear-gradient(180deg, rgba(255, 255, 255) 25%, rgba(245, 245, 245));;
    -o-background: linear-gradient(180deg, rgba(255, 255, 255) 25%, rgba(245, 245, 245));;
    width: 100%;
    background-repeat: no-repeat;
    /*M4LO4 Demonstrate the use of gradients (CSS)*/
}

article{
    color: hsl(0, 0%, 0%);
    color: rgb(0, 0, 0);
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: larger;
    padding: 3px 3px 3px 3px;
}

h1, h2{
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

h3, h4, h5, h6 {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
}

p {
    color: black;
    font-family: 'Arial', Helvetica, sans-serif;
    text-indent: 2em;
    font-size: 20px;
}

a[href]{
    font-size: 22px;
    text-decoration: none;
    color: black;
}

ol, ul{
    text-decoration: dashed;
}

body{
    margin-left: auto;
    margin-right: auto;
    max-width: 2500px;
    min-width: 400px;
    width: 95%;
}


footer{
    position: fixed;
    bottom: 3px;
    background-color: rgb(245, 245, 245);
    margin: none;
    padding: none;
/*M3LO9 Demonstrate fixed, static, or inherited positioning (CSS, note explicit use of one of 
the three in your CSS and what the impact is on the HTML)
DEMONSTRATE FIXED POSITION: Here I demonstrated fixed position as my footer is in a fixed position
and will scroll with the page*/    
}

/* Image Styles */
img{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 13px 13px 13px 13px;
}

.Blog{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr;
    grid-rows: auto;
    grid-auto-flow: row;
/*M3LO6 Demonstrate formatting a grid (CSS, note the CSS rules that do this and what 
their impact is on the HTML; this can be old div-class based grids, or new CSS3 grids)
IMPACT: This formats the layout of my Images on the blog page.*/
}


#AZPtitle{
    position: relative;
    bottom: 20px;
/*M3LO8B Demonstrate relative positioning (CSS, note use in your CSS and describe 
what its impact is on the HTML)
IMPACT: I used relative position to move my h1 up just a little bit without moving everything else*/    
}

#lastimage{
    position: relative;
    bottom: 10px;
    left: 700px;
    width: 120%;
/*M3LO8A Demonstrate absolute positioning (CSS, note use in your CSS and describe what its impact 
is on the HTML)
IMPACT: I used absolute positioning to move my image to the center of the page and get rid of the 
padding under the image (just to demonstrate I know how to use absolute positioning).*/ 
}

/*Figure Captions*/

figure {
    width: 70%;
    display: block;
    margin: auto;
}
figure img{
    width: 70%;
    padding: none;
    box-shadow: grey 4px 2px 8px;
/*M4LO5 Demonstrate the use of text or box shadowing (CSS, note one of these two 
in your CSS and explain its impact on the HTML)
Demonstrated by: I've demonstated this by creating a shadow behing my home page image.  There is a shadow behind my box element.
This gives my html image more dimension on the page.*/
}
figure figcaption{
    font-size: 24px;
    font-family: 'Arial', Helvetica, sans-serif;
    background-color: rgb(245, 245, 245);
    text-align: center;
    font-style: italic;
    padding: 10px;
    margin-top: 12px;
/*M4LO1 Demonstrate the use of figure boxes (HTML)
Demonstrated by:  I've demonstrated this by creating a box around my quote that's located
underneath my home image*/
}


/* Navigation Styles */

nav{
    padding: 5px;
    background-color: white;
    background-color: rgb(255, 255, 255);

}
nav > ul > li{
    display: block;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    margin: 0px;
    padding: 12px;
}

nav > ul {
    display: block;
    list-style-type: none;
}
nav > ul > li{
    float: left;
    width: 23.8%;
    border-style: solid;
/* M3LO2 Demonstrate floating elements 
(CSS, note where you have specified a floating element and what its impact is)
Imapct: this float places the list items in line with eachother on the top of the page.
*/
}
nav > ul > li > a:hover, nav > ul > li > a:active {
    text-decoration: underline;
}

/* Nav Dropdown */
  
.dropbutton{
    border: none;
    background-color: white;
    display: inline;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
    margin-left: 0px;
    padding-top: 11.5px;
    padding-bottom: 11.5px;
    width: 23.8%;
    border-style: solid;
    overflow: none;
}
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 300px;
    float: left;
    background-color: white;
    border-radius: 0px 0px 8px 8px;
    padding: 10px 14px;
  }
  
  .dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    font-size: 22px;
    font-weight: bold;
    font-family: 'Arial', Helvetica, sans-serif;
    text-align: center;
  }
  
  
  .dropdown-content a:hover {
      text-decoration: underline;
  }
  
  .dropdown:hover .dropdown-content {
      display: block;
    }

  
